.goTopContainer {
    border-radius: 13%;
    max-width: 4%;
    position: fixed;
    left: 45%;
    bottom: 0%;
    text-align: center;
    z-index: 1;
}
.goTop {
    border-radius: 13%;
    background-color: rgba(220, 53, 69, .7);
    background-image: url("../img/upArrow.png");
    opacity: 0.8;
    background-size: contain;
    background-repeat: repeat;
    height: 48px;
    width: 40px;
}

.goTopContainer:hover {
    cursor: pointer;
}

@media (max-width: 768px)
{
    .goTopContainer {
        right: 30px;
        
    }
    .goTop {
        background-size: 80%;
        height: 47px;
        background-size: 98%;
    }
}