








table tr td, table tr td {
    font-weight: 100;
    background-color:rgba(110,230,240, 0.1) !important;
}

table th, table th {
    font-weight: 100;
    background-color:rgba(210,230,240, 0.1) !important;
}

