.banner {
    border-radius: 10px;
    border-style: groove;
    padding: 10px;
    margin: 5px 2px;
    height: 200px;
    background-image: url(https://portfolio-1dac6.web.app/assets/img/defrent.jpg);
    background-position: center;
    background-size: cover;

    
    
}