.general-container {
    background-color: #cccccc;
    background-image: linear-gradient(#dd8b8b, #0a3180);
    min-height: 100vh;
    display: block;
    flex-direction: column;
    align-items: center;    
    border-radius: 10px;
    padding-bottom: 20%;
}
.bodyContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 20px;
    
}

.film {
    /*background-color: gray;*/
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-style: groove;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.filmPoster img {
    width: 200px;
    height: 300px;
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 2%;
}

.filmInfo {
    margin-left: 5%;
}

.films-list {
    margin: 2% 5%;
}


.formulario-simple {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation-name: aparicionDiv;
    animation-duration: 2s;
    position: relative;
}

.formulario-opciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    /*justify-content: space-around;*/
    animation-name: aparicionOpciones;
    animation-duration: 3s;
    position: relative;
    top: 20px;
}


.formulario-fila {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    gap: 13px;
}

.form-simple {
    background-color: rgba(210, 215, 211, .3) !important;
    height: 20px;
    
}

@keyframes aparicionDiv {
    from {
        top: -20px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes aparicionOpciones {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 0;
        gap: 5px;
    }
    100% {
        top: 20px;
        opacity: 1;
        gap: 35px;
    }
}